<%= form_for(@account, remote: true) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :balance, value: 0 %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>